:root {
	/* Accent Colours */
	--ff-accent: #fff;
	--accent: #bfa251;
	--secondary-accent: #d675ae;
	--accent-danger: #ec4747;
	/* Background Colours */
	--bg-dark: #1c1e20;
	--bg-darker: #131416;
	--bg-darkest: #0e0e0f;
	--box-shadow: rgba(0, 0, 0, 0.2);
	/* Fallbacks */
	--fb-dark: #0c0c0c;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	list-style: none;
}
html {
	font-size: 62.5%;
	font-family: 'Roboto', Arial, sans-serif;
	color: white;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	font-size: 1.6rem;

	background-color: var(--bg-dark);
}

/* =============================================================================
Header
============================================================================= */
header {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	margin: 0 1rem;
}
header * {
	justify-content: center;
	align-items: center;
}
header > * {
	display: flex;
	flex: 0 1 28rem;
	margin: 0 1.5rem;
	overflow: hidden;
	border-radius: 1rem;

	background-color: var(--bg-darkest);
	box-shadow: 0em 0em 0.3em var(--box-shadow);
}
header li {
	display: flex;
	margin: 1rem 0;
}
header p {
	margin: 0 1.5rem;
}

.tasks-view > * {
	height: 100%;
	flex-basis: 50%;

	cursor: pointer;

	-webkit-transition: background-color 0.1s ease-out;
	-moz-transition: background-color 0.1s ease-out;
	-o-transition: background-color 0.1s ease-out;
	transition: background-color 0.1s ease-out;
}
.tasks-view > *:hover,
header .active {
	background-color: var(--accent);
}

/* =============================================================================
Cards
============================================================================= */
.card-carousel {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	padding: 1rem;
	overflow-x: auto;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}
.card-carousel::-webkit-scrollbar-track {
	display: none;
}

.card-carousel::-webkit-scrollbar {
	height: 8px;
}

.card-carousel::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: transparent;
}
.card-carousel:hover::-webkit-scrollbar-thumb {
	background-color: var(--bg-darker);
}

/* ======================================
Character Cards
====================================== */
.card {
	width: 28rem;
	height: 65vh;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	margin: 1.5rem;
	overflow: auto;

	border-radius: 0.5rem;
	box-shadow: 0em 0em 0.3em var(--box-shadow);
}
.card::-webkit-scrollbar {
	display: none;
}
.card.account {
	background-color: var(--bg-darkest);
}
.card.character {
	background: var(--bg-darker);
}

/* ======================================
Create New Character
====================================== */
.create-card {
	order: 999;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin: 0 2.6rem;
}
.create-card.card {
	box-shadow: none;
}
.create-card span {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 3rem;
	font-size: 2.5rem;
}
.create-card span::before {
	content: '\002B';
}

/* ======================================
Character Profiles
====================================== */
.profile {
	width: 100%;
	height: 14rem;
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 1rem;
	position: relative;
	overflow: hidden;
}
.card.account .profile {
	padding: 2.5rem 0 1rem 0;
}
.character.card .profile {
	background-color: var(--bg-darkest);
	border-bottom: 1px solid #838383;
}
.character.card .profile .name {
	font-size: 2rem;
	text-shadow: 1px 1px 5px var(--fb-dark);
}
.profile i {
	top: 1rem;
	right: 1rem;
	position: absolute;
	text-shadow: 1px 1px 3px var(--fb-dark);

	opacity: 0;

	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
.profile:hover i {
	opacity: 1;
}
.profile i:hover {
	cursor: pointer;
}

/* ======================================
TODO Lists
====================================== */
.todo-list {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.task {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
	padding: 1.5rem 1.5rem 0.5rem 1.5rem;
	margin: 0.3rem 0.5rem;

	-webkit-transition: background-color 0.1s ease-out;
	-moz-transition: background-color 0.1s ease-out;
	-o-transition: background-color 0.1s ease-out;
	transition: background-color 0.1s ease-out;
}
.task:hover {
	background-color: var(--fb-dark);
	background-color: rgba(12, 12, 12, 0.6);
	cursor: pointer;
}
.task * {
	pointer-events: none;
}

.task progress[value] {
	-webkit-appearance: none;
	appearance: none;
	border: none;

	width: 100%;
	height: 0.4rem;
	display: block;
	margin: 0.5rem 0;
}
.task progress[value]::-webkit-progress-bar {
	border-radius: 0.5rem;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.4);
}
.task progress[value]::-webkit-progress-value {
	border-radius: 0.5rem;
	background-color: var(--accent);

	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}
.account.card .task progress[value]::-webkit-progress-value {
	background-color: var(--secondary-accent);
}

/* ======================================
Create New Task
====================================== */
.todo-list .create-task {
	width: 15%;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-self: center;
	padding: 0.5rem;
	margin: 1.2rem 0 2.5rem 0;

	order: 2;
	font-size: 2.5rem;
	visibility: hidden;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.card:hover .create-task {
	visibility: visible;
}
.create-task::before {
	content: '\002B';
}

/* =============================================================================
Modal
============================================================================= */
.modal {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.modal.open {
	visibility: visible;
	opacity: 1;
}
.modal-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #000;
	background: rgba(0, 0, 0, 0.7);
}
.modal form {
	display: flex;
	flex: 0 1 80%;
	flex-direction: column;
	align-items: center;
}
.modal .create-character-form,
.modal .create-task-form,
.modal .edit-obj {
	max-height: 70%;
	display: flex;
	flex: 0 1 60rem;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	padding: 3rem 0;
	overflow: auto;

	border-radius: 1.5rem;
	background-color: var(--bg-dark);
}
.modal .create-character-form::-webkit-scrollbar,
.modal .create-task-form::-webkit-scrollbar,
.modal .edit-obj::-webkit-scrollbar {
	display: none;
}

.modal input[type='text'],
input[type='number'] {
	color: white;
	padding: 1rem;
	font-size: 2.5rem;
	/* font-weight: ; */
	background: transparent;
	border: none;
	text-align: center;
	margin-bottom: 2rem;
	border-bottom: 1px solid rgb(112, 112, 112);

	-webkit-transition: border-color 0.3s ease-out;
	-moz-transition: border-color 0.3s ease-out;
	-o-transition: border-color 0.3s ease-out;
	transition: border-color 0.3s ease-out;
}
.modal input[type='text'] {
	width: 100%;
}
input[type='number'] {
	display: flex;
	max-width: 10rem;
}
input[type='number'] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.modal input[type='text']:focus {
	outline: none;
	border-color: rgb(194, 194, 194);
}
/* ======================================
Create Character Modal
====================================== */
form > p {
	margin: 1rem 0;
	text-align: center;
	color: rgb(133, 133, 133);
}
form > p.class-type {
	margin-bottom: 0.5rem;
}
.class-selection {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.class-selection p {
	font-size: 0.85em;
}
.class-selection label {
	border-radius: 1rem;
}
.class-selection label section {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	margin: 0.5rem;
	background-color: var(--bg-darkest);

	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}
.class-selection label img {
	height: 2.2rem;
	margin-right: 0.3rem;
}
.class-selection input[type='radio'] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
.class-selection input[type='radio'] + section p {
	text-align: center;
}
.class-selection input[type='radio']:checked + section {
	background-color: var(--accent);
}
.class-selection input[type='radio']:hover + section {
	background-color: var(--accent);
	cursor: pointer;
}

form input[type='submit'] {
	outline: none;
	border: none;
	margin-top: 2.8rem;
	font-size: 1.8rem;
	border-radius: 1rem;
	padding: 1.3rem 3.6rem;
	color: white;
	cursor: pointer;
	background-color: var(--bg-darkest);

	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}
form input[type='submit']:hover {
	background-color: var(--accent);
}

/* ======================================
Create Task Modal
====================================== */
.create-task-form p {
	margin-bottom: 0;
	font-size: 0.9em;
	max-width: 30rem;
}

/* Extras */
.add-decoration {
	border: 0.2rem dashed white;
	border-radius: 1rem;

	opacity: 0.2;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.add-decoration:hover {
	opacity: 0.3;
	cursor: pointer;
}
.task.complete {
	order: 1;
	opacity: 0.3;

	transition: all 0.4s ease-out;
}
.hide {
	display: none !important;
}

/* ======================================
Edit Modal
====================================== */
.edit-obj form {
	width: 100%;
}
.edit-obj .tasks-edit {
	width: 100%;
}
.edit-obj .tasks-edit input[type='text'] {
	text-align: left;
	font-size: 1.6rem;
}
.edit-obj .tasks-edit input[type='number'] {
	font-size: 1.8rem;
}
.edit-obj .tasks-edit input[type='submit'] {
	flex: 1;
}
.edit-obj .tasks-edit p {
	margin: 1rem 0;
	color: rgb(133, 133, 133);
}
.edit-obj .tasks-edit .row {
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

.edit-obj .tasks-edit .row input[type='checkbox'] {
	width: 2.5rem;
	height: 2.5rem;
}

.edit-obj form > .row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#edit-delete-btn {
	padding: 1rem 1rem;
	background-color: var(--accent-danger);
	order: -1;
}
#edit-delete-btn:disabled {
	background-color: rgb(53, 53, 53);
	color: rgb(107, 107, 107);
	/* filter: brightness(30%); */
	cursor: default;
}

/* =============================================================================
Media
============================================================================= */
/* ======================================
Profiles
====================================== */
/* Warriors */
.profile.bg {
	background-size: cover;
}
.bg.logo {
	background-size: contain;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/common/Icon.png');
}
.bg.berserker {
	background-image: url('../img/class_banners/berserker.jpg');
}
.bg.paladin {
	background-image: url('../img/class_banners/paladin.jpg');
}
.bg.gunlancer {
	background-image: url('../img/class_banners/gunlancer.jpg');
}
.bg.destroyer {
	background-image: url('../img/class_banners/destroyer.jpg');
}
/* Martial Artists */
.bg.striker {
	background-image: url('../img/class_banners/striker.jpg');
}
.bg.wardancer {
	background-image: url('../img/class_banners/wardancer.jpg');
}
.bg.scrapper {
	background-image: url('../img/class_banners/scrapper.jpg');
}
.bg.soulfist {
	background-image: url('../img/class_banners/soulfist.jpg');
}
/* Gunners */
.bg.gunslinger {
	background-image: url('../img/class_banners/gunslinger.jpg');
}
.bg.artillerist {
	background-image: url('../img/class_banners/artillerist.jpg');
}
.bg.deadeye {
	background-image: url('../img/class_banners/deadeye.jpg');
}
.bg.sharpshooter {
	background-image: url('../img/class_banners/sharpshooter.jpg');
}
/* Mages */
.bg.bard {
	background-image: url('../img/class_banners/bard.jpg');
}
.bg.sorceress {
	background-image: url('../img/class_banners/sorceress.jpg');
}
/* Assassins */
.bg.deathblade {
	background-image: url('../img/class_banners/deathblade.jpg');
}
.bg.shadowhunter {
	background-image: url('../img/class_banners/shadowhunter.jpg');
}

/* =============================================================================
Media Queries
============================================================================= */
@media (max-width: 949px) {
	.tasks-view {
		order: 1;
	}
	.card {
		scroll-snap-align: center;
	}
}
@media (max-width: 639px) {
	header {
		justify-content: center;
	}
}
